{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>A Main Title</h1>
        <p>Content that makes up the body of the main section</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Column 1</h3>
        <ul>
            <li><a href="#">Bullet 1</a></li>
            <li><a href="#">Bullet 2</a></li>
            <li><a href="#">Bullet 3</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Column 4</h3>
        <ul>
            <li><a href="#">Bullet 1</a></li>
            <li><a href="#">Bullet 2</a></li>
            <li><a href="#">Bullet 3</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Column 3</h3>
        <ul>
            <li><a href="#">Bullet 1</a></li>
            <li><a href="#">Bullet 2</a></li>
            <li><a href="#">Bullet 3</a></li>
        </ul>
    </div>
</div>

{% endblock %}
