{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>An R, Python, and Pyspark Cross-Reference</h1>
        <p>One spot to look up functions and how you'd do it between different analytical languages.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Top Searched Activites</h3>
        <ul>
            <li><a href="#">Read a CSV</a></li>
            <li><a href="#">Read a CSV</a></li>
            <li><a href="#">Read a CSV</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Top Searched Functions</h3>
        <ul>
            <li><a href="#">Read.CSV</a></li>
            <li><a href="#">Read a CSV</a></li>
            <li><a href="#">Read a CSV</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>About</h3>
        <ul>
            <li><a href="#">X code snippets</a></li>
            <li><a href="#">X activites</a></li>
            <li><a href="#">X functions represented</a></li>
        </ul>
    </div>
</div>

{% endblock %}
